@layout('manager::layouts/default_layout')

@section('body')
  @!component('manager::components/ui/resource_bar', {
    label: 'User dashboard',
    description: 'Manage your platform users',
    breadcrumb: {
      Manager: 'manager.home',
      Users: 'manager.users.index'
    }
  })
@end
