<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body>
    <div class="flex w-full">
      <div class="fixed top-0 left-0 w-56 h-screen overflow-y-auto border-r border-gray-100">
        @include('manager::partials/navbar')
      </div>
      <div class="ml-56 w-full min-h-screen">
        @!section('body')
      </div>
    </div>
  </body>
</html>
